<div class="jumbotron button-style"> 
 
  <center>
   <h1>Create a Cocktail: </h1></br> 
   <h3>Fill Out Cocktail Information, Then Add ingredients In Show Page</h3> 
  </center> 
  <hr class="my-4"> 

  <%= render 'errors'%> 
  <%= render 'form'%>  

</div>